html
{
    font-family: 'Montserrat', sans-serif;
    color: #FEAA00;
}
.white
{
    background-color: #F7F4EF;
}

.yellow
{
    background-color: #FEAA00;
}

.green
{
    background-color: #788402;
}

.black
{
    background-color: #342628;
}

#grid-container
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 5%;
    text-align: center;
}

.inputPaste
{
    width: 85%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0;
}

#notepaster_title
{
    font-size: 50px;
    text-align: center;
}

#notepaster_instruction
{
    font-size: 30px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #grid-container
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin: 0 5%;
    text-align: center;
}
  }