canvas {image-rendering: crisp-edges; image-rendering: pixelated; }
body {margin:0; text-align: center; background-color: #37313B}
@font-face {
    font-family: 'mainfont', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
}
